.subtotal
  .settled
    Subtotal:
    = currency_symbol
    %span.subtotal_dollars= format_cents(subtotal, :hide_currency => true)
  .remaining
    Remaining:
    = currency_symbol
    %span.remaining_dollars{:class => statement.unsettled_balance.zero? ? "balanced" : nil}
      = format_cents(statement.unsettled_balance, :hide_currency => true)
